{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image_class := .Params.featured_image_class | compare.Default "cover bg-center" }}
  {{ $cover_dimming_class := .Params.cover_dimming_class | compare.Default "bg-black-60" }}
  <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ $cover_dimming_class }}">
      {{ partials.Include "site-navigation.html" . }}
      {{/* Minimal hero - reduced vertical space */}}
      <div class="pv2 pv3-ns ph3 ph4-ns ph5-l" style="text-align: left !important;">
        {{ if not .Params.omit_header_text }}
          <div class="f4 f3-l fw2 white-90 mb0 lh-title" style="text-align: left !important;">{{ .Title | compare.Default .Site.Title }}</div>
          {{ with .Params.description  }}
            <div class="fw1 f7 f6-l white-80 lh-copy mt1 mb2" style="max-width: 34em; text-align: left !important;">
              {{ . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }}">
      {{ partials.Include "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
